<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.otd_msa_back_life.admin.mapper.AdminMapper">
    <select id="findMealDataByUserId">
        SELECT
        COALESCE(mfd.food_name, mfmd.food_name) AS foodName,
        mr.meal_id, mr.meal_time, mr.meal_day, mr.food_amount,
        mrd.total_carbohydrate, mrd.total_fat, mrd.total_kcal,
        mrd.total_natrium, mrd.total_protein, mrd.total_sugar
        FROM meal_record mr
        LEFT JOIN meal_food_db mfd
        ON mr.food_id = mfd.food_db_id
        LEFT JOIN meal_food_make_db mfmd
        ON mr.user_food_id = mfmd.user_food_id
        LEFT JOIN meal_record_detail mrd
        ON mr.user_id = mrd.user_id
        AND mr.meal_day = mrd.meal_day
        AND mr.meal_time = mrd.meal_time
        WHERE mr.user_id = #{userId}
        ORDER BY mr.meal_day DESC, mr.meal_time
    </select>

    <select id="findExerciseDataByUserId">
        SELECT
        er.exercise_record_id AS exerciseRecordId, er.user_id,
        er.start_at, er.end_at, er.duration, er.distance, er.reps,
        er.activity_kcal, ec.exercise_name
        FROM exercise_record er
        INNER JOIN exercise_catalog ec
        ON er.exercise_id = ec.exercise_id
        WHERE er.user_id = #{userId}
        ORDER BY er.start_at DESC
    </select>
</mapper>