<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.otd_msa_back_life.admin.mapper.AdminMapper">
    <select id="findMealDetailByUserIdAndMealDayAndMealTime">
        SELECT m.food_amount,
        m.meal_day,
        m.meal_time,
        COALESCE(f.carbohydrate, u.carbohydrate) AS carbohydrate,
        COALESCE(f.kcal, u.kcal) AS kcal,
        COALESCE(f.natrium, u.natrium) AS natrium,
        COALESCE(f.protein, u.protein) AS protein,
        COALESCE(f.fat, u.fat) AS fat,
        COALESCE(f.sugar, u.sugar) AS sugar,
        COALESCE(f.flag, u.flag) AS flag,
        COALESCE(f.food_name, u.food_name) AS foodName
        FROM meal_record m
        LEFT JOIN meal_food_db f
        ON m.food_id IS NOT NULL AND m.food_id = f.food_db_id
        LEFT JOIN meal_food_make_db u
        ON m.user_food_id IS NOT NULL AND m.user_food_id = u.user_food_id
        WHERE m.meal_day = #{mealDay}
        AND m.meal_time = #{mealTime}
        AND m.user_id = #{userId}
        AND(food_id IS NULL OR food_id != -10000);
    </select>

    <select id="findExerciseDataByUserId">
        SELECT
        er.exercise_record_id AS exerciseRecordId, er.user_id,
        er.start_at, er.end_at, er.duration, er.distance, er.reps,
        er.activity_kcal, ec.exercise_name
        FROM exercise_record er
        INNER JOIN exercise_catalog ec
        ON er.exercise_id = ec.exercise_id
        WHERE er.user_id = #{userId}
        ORDER BY er.start_at DESC
    </select>

    <select id="findAllCommunity">
        SELECT
        cp.post_id, cp.user_id, cp.`title`, cp.`content`,
        cp.is_deleted, cp.like_count, cp.created_at,
        cp.updated_at, cc.name AS category
        FROM community_post cp
        INNER JOIN community_category cc
        ON cc.category_id = cp.category_id
        ORDER BY cp.post_id DESC
    </select>
</mapper>